@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #171717;
    color:white;
}

.begin{
    color:white;
    width: 200px
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center
}

section{
    display:grid;
    place-items:center;
    align-content: center;
    min-height: 100vh
}

.hidden{
    opacity: 0;
    transition: all 6s
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none
    }
}

.show{
    opacity: 1;
}
