@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #171717;
    color:white;
    text-align:center
}

#title{
    margin-top:80px;
    /* background-color: purple; */
    animation: appear 2.5s forwards linear;
    /* animation-delay: 1s; */
}

.begin{
    color:white;
    width: 200px
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center
}

section{
    display:grid;
    place-items:center;
    align-content: center;
    min-height: 100vh
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none
    }
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s
}
.show{
    transform: translateX(0);
    opacity: 1;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.5)
    }
    100%{
        transform:scale(1);
        opacity: 1
    }
}

